   
                   
<div class="panel panel-primary">
    <div class="panel-heading" style="font-size: large">Category List</div>
</div>

<div class="panel-body">
    <table class="table" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Planned</th>
                <th>Spent</th>
                <th>PurchasesCost</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="category in vm.categories">
                <td>{{category.id}}</td>
                <td><a ui-sref="categoryDetail({id: category.id})">{{category.name}}</a></td>
                <td>{{category.planned | currency}}</td>
                <td>{{category.spent | currency}}</td>
                <td>{{category.purchasesCost | currency}}</td>
                <td>{{category.createdAt | date}}</td>
                <td>{{category.updatedAt | date}}</td>

                <td>
                    <a class="btn btn-primary" ui-sref="categoryEdit({id: category.id})"><i class="glyphicon glyphicon-edit">Edit</i></a>
                </td>
                
                <td>
                    <a class="btn btn-danger" ui-sref="categoryDelete({id: category.id})"><i class="glyphicon glyphicon-remove">Delete</i></a>
                </td>
                
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" ui-sref="categoryAdd"> <i class="glyphicon glyphicon-plus">Add Category</i></a>
</div>
         
  

