<form class="form-horizontal">

    <div class="panel panel-primary">
        <div class="panel-heading" style="font-size: large">{{vm.title}}</div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">Name:</div>
                    <div class="col-md-6">{{vm.purchase.name}}</div>
                </div>

                <div class="row">
                    <div class="col-md-6">Price:</div>
                    <div class="col-md-6">{{vm.purchase.price | currency}}</div>
                </div>

                <div class="row">
                    <div class="col-md-6">Buyed:</div>
                    <div class="col-md-6">{{vm.purchase.buyed }}</div>
                </div>

                <div class="row">
                    <div class="col-md-6">BuyedTime:</div>
                    <div class="col-md-6">{{vm.purchase.buyedTime| date}}</div>
                </div>

                <div class="row">
                    <div class="col-md-6">CategoryId:</div>
                    <div class="col-md-6">{{vm.purchase.categoryId}}</div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">CategoryName:</div>
                    <div class="col-md-6">{{vm.purchase.category.name}}</div>
                </div>

            </div>
        </div>

        <div class="panel-footer">
            <a class="btn btn-default" ui-sref="purchasesList" style="width: 80px"><i class="glyphicon glyphicon-chevron-left"></i>Back</a>
            <a class="btn btn-primary" ui-sref="purchaseEdit({id: vm.purchase.id})" style="width: 80px; margin-left: 10px">Edit</a>
        </div>

    </div>

</form>
