 <!--StyleSheets-->
<link href="../../Content/bootstrap.css" rel="stylesheet" />
<link href="../../Content/app.css" rel="stylesheet" />

<!--Library scripts-->
<script src="../../Scripts/angular.js"></script>
<script src="../../Scripts/angular-resource.js"></script>

<!--Application scripts-->
<script src="../app.js"></script> 

<div class="panel panel-primary text-center ">
    <div class="panel-heading" style="font-size: x-large">Web Market</div>
    <img src="/app/images/home.jpg" style="width:600px; margin: 20px "/>
</div>
